@model IEnumerable<mvc4gw9.Models.Product>

@{
    ViewBag.Title = "Обувь детская";
}

<div class="title">
    <h1>@ViewBag.Title</h1>
</div>

<div class="path">
@{
    foreach(var group in ViewBag.Path)
    {
        <a href="/Home/ShowGroup?GroupId=@group.Id">@group.Name</a>
            <span>\</span>
    }
}
</div>

<div class="navigation">
@{
    <ul>
        @foreach(var branch in ViewBag.Branches)
        {
            <li>
                <a href="/Home/ShowGroup?GroupId=@branch.Group.Id">@branch.Group.Name</a>
                <ul>
                @foreach(var subgroup in branch.Subgroups)            
                {
                    <li>
                        <a href="/Home/ShowGroup?GroupId=@subgroup.Id">@subgroup.Name</a>
                    </li>
                }
                </ul>
            </li>
        }
    </ul>
}
</div>


<div class="products_list">

   @{
       foreach(var product in Model)
       {

        <div class="products_list_item">
            <a href="/Home/ShowProduct?nomenclatureId=@product.Id&amp;featuresSetId=@product.currentParameters">
                <img class="products_list_item_image" src="/Content/nomenclature/pictures/@product.Image" alt ="@product.Image"/>
            </a>

          <a href="/Home/ShowProduct?nomenclatureId=@product.Id&amp;featuresSetId=@product.currentParameters">
               <h3 class="products_list_item_title">@product.Name</h3>
           </a>
           </div>

       }
       
    }

</div>