@model mvc4gw9.Models.ProductsListPageContent

<div class="path">
@{
    foreach(var group in Model.Navigation.Path)
    {
        <a href="/Home/ShowGroup?GroupId=@group.Id">@group.Name</a>
            <span>\</span>
    }
}
</div>

<div class="navigation">
@{
    <ul>
        @foreach(var branch in Model.Navigation.Branches)
        {
            <li>
                <a href="/Home/ShowGroup?GroupId=@branch.Group.Id">@branch.Group.Name</a>
                <ul>
                @foreach(var subgroup in branch.Subgroups)            
                {
                    <li>
                        <a href="/Home/ShowGroup?GroupId=@subgroup.Id">@subgroup.Name</a>
                    </li>
                }
                </ul>
            </li>
        }
    </ul>
}
</div>


<div class="products_list">

   @{
       foreach(var product in Model.Products)
       {

        <div class="products_list_item">
            
            <a href="/Home/ShowProduct?nomenclatureId=@product.Id&amp;featuresSetId=@product.currentParameters">
                <img class="products_list_item_image" src="/Content/nomenclature/pictures/@product.Image" alt ="@product.Image"/>
            </a>

            <div class="products_list_item_title_area">
                <a href="/Home/ShowProduct?nomenclatureId=@product.Id&amp;featuresSetId=@product.currentParameters">
                    @product.Name
                </a>
            </div>

       </div>

       }
       
    }

</div>

<div class="footer">
</div>